 html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  padding-top:2rem ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'arial', sans-serif;
  color:#131921;
}

.pointer {
  cursor: pointer;
}

th{
  font-weight: 100;
}

.bg-black {
  background-color: #000 !important;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #232F3E;
  background-color:#131921;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color:#ffffff;
  margin-left: 1rem;
}
.navbar-custom .navbar-brand:hover {
  color:#ffffff;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1rem;
  color:#ffffff;
}

body {
	 padding: 0;
	 margin: 0;
	 background-color: #fff;
   font-family: Arial,Helvetica,sans-serif;
	 color: #fff;
}

 #hero {
	 height: 800px;
	 overflow: hidden;
	 position: relative;
}
#titulopagina {
  opacity: 0.7;
  text-align: center;
}
#titulopagina h1 {
  margin: 0;
  font-size: 6vw;
  font-family: 'wet', cursive;
  text-transform: uppercase;
  background: rgb(221, 221, 221);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  background-size: 400% 300%;
  animation: BgGradient 5s ease infinite;
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;  
}
 #content {
	 background-color: #fff;
}
 .layer {
	 background-position: bottom center;
	 background-size: auto;
	 background-repeat: no-repeat;
	 width: 100%;
	 height: 800px;
	 position: fixed;
	 z-index: -1;
}
 #hero-mobile {
	 display: none;
	 background: url("../img/headerbgmovile.png") no-repeat center bottom / cover;
	 height: 320px;
}
 .text-header {
	 font-size: 50px;
	 text-align: center;
}
 h1 {
	 line-height: 120%;
	 margin-bottom: 30px;
}
 p {
	 color: #232F3E;
	 font-size: 16px;
	 line-height: 150%;
}

 #hero, .layer {
	 height: 100vh;
}

 .layer-bg {
	 background-image: url('../img/headerbg.png');
	 background-position: left bottom;
         background-repeat: no-repeat;
         background-size: cover;
         z-index: -1;
}
 .layer-1 {
	 background-image: url('../img/header1.png');
	 background-position: left top;
         background-repeat: no-repeat;
         background-size: cover;
         z-index: -2;
}
 .layer-2 {
	 background-image: url('../img/header2.png');
	 background-position: center top;
         background-repeat: no-repeat;
         background-size: cover;
         z-index: -3;
}
 .layer-3 {
	 background-image: url('../img/header3.jpg');
	 background-position: right top;
         background-repeat: no-repeat;
         background-size: cover;
         z-index: -4;
}

 #primera-seccion {
   height: 400px;
	 padding: 50px 0 20px 0;
   background-color: #fff;
}

.modal-title {
 font-size: 1.5rem;
}

/*---------------------------------------
      Menú izquierda          
  -----------------------------------------*/

  #hamburguesa {
    z-index: 10010;
    position: fixed;
    height: 2rem;
    width: 2rem;
    padding: 2px;
    left:1rem;
    top:1rem;
  }

  #cerrar-menu-izquierda {
    z-index: 10011;
    position: fixed;
    height: 2rem;
    width: 2rem;
    padding: 2px;
    left:-1000px;
    top:70px;
    transition: 0.4s;
  }

  #menu-izquierda{
    z-index: 10010;
    position: fixed;
    left: -200%;
    top:67px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.4s;
    margin:0px;
  }

  #menu-izquierda-content{
    height: 100%;
    border-right: 1px solid #354d69;
    background-color: white;
    overflow: hidden;
    margin:0px;
    padding:0px;
    max-width:368px;
  }
 .nav-link {
    color: #fff;
 }


@media (max-width: 425px) {
  #menu-izquierda-content {
   max-width:425px;
  }
}
  
.no-m-p{
 margin-left:0px;
 margin-right:0px;
 padding-left:0px;
 padding-right:0px;
}
  
  #menu-izquierda .m-i-b {
    border: 1px solid #232F3E;
    background: #131921;
    text-align: center;
  }

  #menu-izquierda td a{
    color: #fff;
  }

   #menu-izquierda-oscurecer {
    z-index: 10009;
    position: fixed;
    left: -100%;
    top:66px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
  }

/*---------------------------------------
      PRODUCTOS          
  -----------------------------------------*/
  
  
  .menu-div p{
    margin-bottom: 0px;
   }

  .productos #productos-flters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
  }
  
  .productos #productos-flters .menu-div {
    cursor: pointer;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color:#232f3e;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border: 1px solid#232f3e;
  }

  .productos #productos-flters .menu-div:hover {
    background: #131921;

  }
  .productos #productos-flters .menu-div:hover p{
    color: #fff;
  }
  .menu-subdiv {
    background: #f1fcfc;
  }

  .señuelos-submenu{
    display: none;
    width: 100%;
  }

  .invis{
    padding: 0px;
  }

  .señuelos:hover .señuelos-submenu{
   display: block;
   position: absolute;
   z-index: 100;
  }

  .productos #productos-flters div ul {
    background: none;
    display: none;
    position: absolute;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    transition: ease all 0.3s;
  }

  .productos #productos-flters div:hover > ul {
    opacity: 1;
    top: 100%;
    display: block;
    list-style: none;  
    visibility: visible;
  }

  .productos #productos-flters div li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color:#232F3E;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border: 1px solid#232F3E;
    background: #fff;
    width: 100%;
  }
  
  .productos #productos-flters li:hover, .productos #productos-flters li.filter-active {
    color: #1a616f;
  }
  
  .productos #productos-flters li:last-child {
    margin-right: 0;
  }
  .productos-wrap{
    overflow: hidden;
  }
  .productos-wrap img{
    transition: 1s;
  }
  .productos-item:hover img{
    transform: scale(1.1);
  }

  .productos .productos-item {
    margin-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
    transition: 0.3s;
  }

  .productos .productos-item::before {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 50px;
    height: 50px;
    content: '';
    border-top: 1px solid #232F3E;
    border-left: 1px solid#232F3E;
    transition: 0.4s;
  }
  .productos .productos-item::after {
    position: absolute;
    top: 3%;
    right: 2%;
    width: 50px;
    height: 50px;
    content: '';
    border-top: 1px solid #232F3E;
    border-right: 1px solid#232F3E;
    transition: 0.4s;
  }

  .productos .productos-item:hover{
    background-color: #E7F3F3;
  }

  .productos .productos-item:hover::before{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }

  .productos .productos-item:hover::after{
    top: 0%;
    right: 0%;
    height: 100%;
  }
  
  .productos-stock{
    padding: 3px 5px 3px 6px;
    border-right: 1px solid #fff;
    background-color: #fff;
    transition: 0.4s;
  }

.h2-prod-title{
  color: #fff;font-size: 1rem;font-weight: 400;line-height: 1.5;margin:0px;	
}
  
  .productos .productos-item:hover .productos-stock{
    border: 1px solid #232F3E;
  }

  .productos .productos-item:hover .h2-prod-title{
    color: #232F3E;
  }

  .productos-stock table{
    width: 100%;
    background-color:#232F3E;
    transition: 0.4s;
  }

  .productos .productos-item:hover .productos-stock table{
    background-color: #fff;
    color: #232F3E ;
  }

  .productos-links{
    display: none;
    position: absolute;
    background-color: #E7F3F3;
    z-index: 100;
    border: 1px solid #232F3E;
    width: 100%;
    padding: 3px 5px 3px 5px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    opacity: 0;
    transition: 0.6s;
  }

  .productos .productos-item:hover .productos-links{
    display: block;
    opacity: 1;
  }

  .productos-links table{
    color:#232F3E ;
  }

  .productos-links i{
    font-size: 22px;
   }

   .productos-links .price{
    font-size: 20px;
    text-align: right;
   }

  .C0001 {
    color:#e0d20a;
  }

  .C0002 {
    color:#ff8d0b;
  }

 .C0003 {
    color:#FF0A74;
  }

 .C0004 {
    color:#10a4df;
  }

  .C0005 {
    color:#ff2d26;
  }

  .C0006 {
    color:#11d442;
  }

  .C0007 {
    color:#ffffff;
  }

  .C0008 {
    color:#000000;
  }

  .C0009 {
    color:#761ddb;
  }

  .Ct7-0034 {
    background: radial-gradient(circle at 30% 107%, #FF0A74 0%, #FF0A74 30%, #ffffff 45%,#10a4df 60%,#10a4df 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Ct1-0043 {
    background: radial-gradient(circle at 30% 107%, #ff2d26 0%, #ff8d0b 30%, #e0d20a 45%,#10a4df 60%,#10a4df 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Ct7-0032 {
    background: radial-gradient(circle at 30% 107%, #FF0A74 0%, #FF0A74 30%, #ffffff 45%,#ff8d0b 60%,#ff8d0b 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

 .i-cd{
  box-shadow: inset 0 0 5px 5px  rgba(32, 32, 32, 0.158);
  border: 1px solid #B7C0C0;
 }

 .i-cd:hover{
   box-shadow: inset 0 0 5px 5px  rgb(32, 32, 32);
 }

  .i-c{
    background: #0000001c;
    border: 1px solid #B7C0C0;
  }
  .i-c:hover {
  border: 1px solid rgb(0, 0, 0);
  background: rgb(32, 32, 32);
  }
  .i-cn{
    background: #0000001c;
    border: 1px solid #B7C0C0;
  }
  .i-cn:hover {
    border: 1px solid rgb(0, 0, 0);
    background: #fff;
    }


.C0031 {
  background: rgb(255,226,6);
  border: 1px solid #757575;
  background: linear-gradient(180deg,  rgba(248,75,228,1) 0%, rgba(255,226,6,1) 80%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.C4613 {
  background: rgb(23,204,214);
  border: 1px solid #757575;
  background: linear-gradient(180deg, rgba(23,204,214,1) 16%, rgba(32,226,112,1) 35%, rgba(255,226,6,1) 52%, rgba(248,75,228,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/*---------------------------------------
      INFORMACIÓN           
  -----------------------------------------*/
.info-title {
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.info-tentacle {
  width: min(600px, calc(40% + 140px));
  display: block;
  margin: auto;
}
.info-tentacle-h1{
text-align: center;
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%, -120%);
text-transform: uppercase;
font-family: contorno;
color: #9ea2a7;
font-size: clamp(1.8rem, 3.7vw, 3rem);
margin-bottom: .5rem;
font-weight: 500;
line-height: 1.2;
margin-top:0;
}
.info-info {
  padding: 1rem;
  border: 1px solid #beccdb;
  background: url('https://cuevadelcalamar.com/img/fondo-info.png');
  margin-top: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  }

  .info-info a{
  color: #000;
  font-weight: bold;
  }
  
/*---------------------------------------
      Guia          
  -----------------------------------------*/
.guia-title {
width:100%;
position: absolute;
top: 145%;
left: 50%;
transform: translate(-50%, 50%);
z-index:20;
color:#fff;
text-transform: uppercase;
font-family: contorno;
}
.guia-info {
  padding: 1rem;
  border: 1px solid #beccdb;
  background: url('https://cuevadelcalamar.com/img/fondo-guia.png');
  margin-top: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  }

.guia-intro {
  padding: 1rem;
  border: 1px solid #beccdb;
  background: #13192106;
  margin-top: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  }

.guia-intro-inline > * {
  display: inline;
  }
  
.h2-p {
  font-size: 16px;
  line-height: 150%;
  display: inline;
  }
  
  
/*---------------------------------------
      CONTACTO             
  -----------------------------------------*/

  #contact-form .col-md-12,
  #contact-form .col-md-4 {
    padding-left: 0;
  }

  #contact-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #7cbfbf;
    border-radius: 0;
    box-shadow: none;
    margin: 10px 0;
  }

  #contact-form .form-control:focus {
    border-bottom-color: #202020;
  }

  #contact-form input {
    height: 50px;
  }

  #contact-form input[type='submit'] {
    background: #fff;
    border: 1px solid #7cbfbf;
  }

  #contact-form input[type='submit']:hover {
    background: #7cbfbf;
    color: #ffffff;
  }

  /*---------------------------------------
      PIE DE PÁGINA            
  -----------------------------------------*/
.footer {
  background: #131921;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #232F3E;
}

.footer p {
color:#fff;
}

.footer .container li {
  cursor: pointer;
  display: inline-block;
  padding: 0px 15px 0px 15px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.footer .container li a {
    color: #fff;
}

/*---------------------------------------
      Página deContacto       
-----------------------------------------*/

.contact-info {
padding: 1rem;
border: 1px solid #beccdb;
background: #0000001c;
}
#contact-colors i{
  font: normal normal normal 29px/1 FontAwesome;
}
.footer#fcontacto{
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/*---------------------------------------
     Efectos y animaciones            
-----------------------------------------*/

.borderpride {
  animation: BorderPride 4s ease infinite;
}

@keyframes BorderPride {
  0% {border-color: #FFD800}
  25% {border-color: #FF3C35;}
  50% {border-color: #A33EFF;}
  75% {border-color: #42B0FF;}
  85% {border-color: #60FFAA;}
  100% {border-color: #FFD800;}
}
.pride {
  animation: ColorPride 4s ease infinite;
}

@keyframes ColorPride {
  0% {color: #FFD800}
  25% {color: #FF3C35;}
  50% {color: #A33EFF;}
  75% {color: #42B0FF;}
  85% {color: #60FFAA;}
  100% {color: #FFD800;}
}

.bgpride {
  animation: BgPride 4s ease infinite;
}

@keyframes BgPride {
  0% {background: #FFD800}
  25% {background: #FF3C35;}
  50% {background: #A33EFF;}
  75% {background: #42B0FF;}
  85% {background: #60FFAA;}
  100% {background: #FFD800;}
}

.insta{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: 'cagatintas';
  src: local('cagatintas'),
       local('cagatintas Regular'),
       local('cagatintas-Regular'),
       url(../fuentes/cagatintas.woff) format("woff");
}

@font-face {
  font-family: 'contorno';
  src: local('contorno'),
       local('contorno Regular'),
       local('contorno-Regular'),
       url(../fuentes/contorno.woff) format("woff");
}

@media (max-width: 992px) {

  p {
   font-size: 24px;
   line-height: 150%;
  }
  a {
  font-size: 24px;
  line-height: 150%;
  }
  .productos-stock td{
   font-size: 24px;
  }
  .menu-div p{
   font-size: 24px;
   margin-bottom: 0px;
  }
	
/*	
  .navbar-custom {
   padding-top: 2rem;
   padding-bottom: 2rem;
  }
  .navbar-brand {
   font-size: 2rem;
   line-height: 150%;
  }

  #menu-izquierda{
  min-width: 75%;
  margin-top: 70px;
  }

  #menu-izquierda td {
   padding-top: 1rem;
   padding-bottom: 1rem;
 }

  #cerrar-menu-izquierda {
   margin-left: 40%;
   margin-top: 75px;
  }
  
  #hamburguesa {
   margin-left:1rem;
   margin-top:0.5rem;
 }

  #menu-izquierda-oscurecer{
  margin-top: 70px;
  }
	
  #hamb{
    height: 60px;
    width: 60px;
  }
  #cerr{
   height: 60px;
   width: 60px;
 }
 #hero{
   margin-top: 8rem;
 }
 #hero, .layer {
   max-height: 70vh;
}
.navbar-toggler-icon {
 width: 5em;
 height: 5em;
}
.social-nav {
 font-size: 22px;
}
#contact-container{
 margin-left: 1rem;
}
.h2-prod-title{
  font-size: 24px;
}
.productos-links i{
  font-size:39px;
 }
 .productos-links .price{
 font-size: 34px;
}
#productos .container{
  margin-left: 0.7%;
  margin-right: 0.7%;
  width:98.6%;
}
#info{
  margin-top: 5rem;
  margin-right: 2rem;
}
*/	
.h2-p {
  font-size: 24px;	
 }
}

@media (max-width: 767px) {
  .container{
    min-width: 100%;
    margin:0px:
  }

}
