 html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  padding-top:2rem ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'arial', sans-serif;
  color:#131921;
}

th{
  font-weight: 100;
}

.bg-black {
  background-color: #000 !important;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #232F3E;
  background-color:#131921;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color:#ffffff;
  margin-left: 1rem;
}
.navbar-custom .navbar-brand:hover {
  color:#ffffff;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1rem;
  color:#ffffff;
}

body {
	 padding: 0;
	 margin: 0;
	 background-color: #fff;
   font-family: Arial,Helvetica,sans-serif;
	 color: #fff;
}

 #hero {
	 height: 800px;
	 overflow: hidden;
	 position: relative;
}
#titulopagina {
  opacity: 0.7;
  text-align: center;
}
#titulopagina h1 {
  margin: 0;
  font-size: 6vw;
  font-family: 'wet', cursive;
  text-transform: uppercase;
  background: rgb(221, 221, 221);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  background-size: 400% 300%;
  animation: BgGradient 5s ease infinite;
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;  
}
 #content {
	 background-color: #fff;
}
 .layer {
	 background-position: bottom center;
	 background-size: auto;
	 background-repeat: no-repeat;
	 width: 100%;
	 height: 800px;
	 position: fixed;
	 z-index: -1;
}
 #hero-mobile {
	 display: none;
	 background: url("../img/headerbgmovile.png") no-repeat center bottom / cover;
	 height: 320px;
}
 .text-header {
	 font-size: 50px;
	 text-align: center;
}
 h1 {
	 line-height: 120%;
	 margin-bottom: 30px;
}
 p {
	 color: #232F3E;
	 font-size: 16px;
	 line-height: 150%;
}

@media (max-width: 992px) {
   p {
    font-size: 24px;
    line-height: 150%;
   }
   a {
   font-size: 24px;
   line-height: 150%;
   }
   .navbar-custom {
    padding-top: 2rem;
    padding-bottom: 2rem;
   }
   .navbar-brand {
    font-size: 2rem;
    line-height: 150%;
   }

   #menu-izquierda{
   min-width: 75%;
   margin-top: 40px;
   }

   #menu-izquierda td {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

   #cerrar-menu-izquierda {
    margin-left: 40%;
    margin-top: 40px;
   }
   
   #hamburguesa {
    margin-left:1rem;
    margin-top:0.5rem;
  }

   #menu-izquierda-oscurecer{
   margin-top: 40px;
   }

   .productos-stock td{
    font-size: 24px;
   }

   .menu-div p{
    font-size: 24px;
    margin-bottom: 0px;
   }

   #hamb{
     height: 60px;
     width: 60px;
   }
   #cerr{
    height: 60px;
    width: 60px;
  }
  #hero, .layer {
    max-height: 70vh;
 }
 .navbar-toggler-icon {
  width: 3em;
  height: 3em;
}
}

 #hero, .layer {
	 height: 100vh;
}

 .layer-bg {
	 background-image: url('../img/headerbg.png');
	 background-position: left bottom;
         background-repeat: no-repeat;
         background-size: cover;
         z-index: -1;
}
 .layer-1 {
	 background-image: url('../img/header1.png');
	 background-position: left top;
         background-repeat: no-repeat;
         background-size: cover;
         z-index: -2;
}
 .layer-2 {
	 background-image: url('../img/header2.png');
	 background-position: center top;
         background-repeat: no-repeat;
         background-size: cover;
         z-index: -3;
}
 .layer-3 {
	 background-image: url('../img/header3.jpg');
	 background-position: right top;
         background-repeat: no-repeat;
         background-size: cover;
         z-index: -4;
}

 #primera-seccion {
   height: 400px;
	 padding: 50px 0 20px 0;
   background-color: #fff;
}

/*---------------------------------------
      Menú izquierda          
  -----------------------------------------*/

  #hamburguesa {
    z-index: 10010;
    position: fixed;
    height: 2rem;
    width: 2rem;
    padding: 2px;
    left:1rem;
    top:1rem;
  }

  #cerrar-menu-izquierda {
    z-index: 10010;
    position: fixed;
    height: 2rem;
    width: 2rem;
    padding: 2px;
    left:-500px;
    top:70px;
    transition: 0.4s;
  }

  #menu-izquierda{
    z-index: 10010;
    position: fixed;
    left: -1000px;
    top:68px;
    width: 365px;
    height: 100%;
    border-right: 1px solid #354d69;
    background-color: white;
    overflow: hidden;
    transition: 0.4s;
  }

  #menu-izquierda td {
    border: 1px solid #232F3E;
    background: #131921;
    text-align: center;
  }

  #menu-izquierda td a{
    color: #fff;
  }

  #menu-izquierda-oscurecer{
    z-index: 10009;
    position: fixed;
    left: -100%;
    top:66px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
  }

/*---------------------------------------
      PRODUCTOS          
  -----------------------------------------*/
  .menu-div p{
    margin-bottom: 0px;
   }

  .productos #productos-flters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
  }
  
  .productos #productos-flters .menu-div {
    cursor: pointer;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color:#232f3e;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border: 1px solid#232f3e;
  }

  .productos #productos-flters .menu-div:hover {
    color: #fff;
    background: #131921;

  }

  .menu-subdiv {
    background: #f1fcfc;
  }

  .señuelos-submenu{
    display: none;
    width: 100%;
  }

  .invis{
    padding: 0px;
  }

  .señuelos:hover .señuelos-submenu{
   display: block;
   position: absolute;
   z-index: 100;
  }

  .productos #productos-flters div ul {
    background: none;
    display: none;
    position: absolute;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    transition: ease all 0.3s;
  }

  .productos #productos-flters div:hover > ul {
    opacity: 1;
    top: 100%;
    display: block;
    list-style: none;  
    visibility: visible;
  }

  .productos #productos-flters div li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color:#232F3E;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border: 1px solid#232F3E;
    background: #fff;
    width: 100%;
  }
  
  .productos #productos-flters li:hover, .productos #productos-flters li.filter-active {
    color: #1a616f;
  }
  
  .productos #productos-flters li:last-child {
    margin-right: 0;
  }

  .productos .productos-item {
    margin-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
    transition: 0.3s;
  }

  .productos .productos-item::before {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 50px;
    height: 50px;
    z-index: 2;
    content: '';
    border-top: 1px solid #232F3E;
    border-left: 1px solid#232F3E;
    transition: 0.4s;
  }
  .productos .productos-item::after {
    position: absolute;
    top: 3%;
    right: 2%;
    width: 50px;
    height: 50px;
    z-index: 2;
    content: '';
    border-top: 1px solid #232F3E;
    border-right: 1px solid#232F3E;
    transition: 0.4s;
  }

  .productos .productos-item:hover{
    background-color: #E7F3F3;
  }

  .productos .productos-item:hover::before{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }

  .productos .productos-item:hover::after{
    top: 0%;
    right: 0%;
    height: 100%;
  }
  
  .productos-stock{
    padding: 3px 5px 3px 6px;
    border-right: 1px solid #fff;
    background-color: #fff;
    transition: 0.4s;
  }
  
  .productos .productos-item:hover .productos-stock{
    border: 1px solid #232F3E;
  }

  .productos-stock table{
    width: 100%;
    background-color:#232F3E;
    transition: 0.4s;
  }

  .productos .productos-item:hover .productos-stock table{
    background-color: #fff;
    color: #232F3E ;
  }

  .productos-links{
    display: none;
    position: absolute;
    background-color: #E7F3F3;
    z-index: 100;
    border: 1px solid #232F3E;
    width: 100%;
    padding: 3px 5px 3px 5px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    opacity: 0;
    transition: 0.6s;
  }

  .productos .productos-item:hover .productos-links{
    display: block;
    opacity: 1;
  }

  .productos-links table{
    color:#232F3E ;
  }

  #POT9-1-img{
    content:url("../img/productos/señuelos/9cm-1/azul.png");
}
  #POT9-2-img{
  content:url("../img/productos/señuelos/9cm-2/azul.png");
}

  #POT12C0002:checked #POT12-img{
    content:url("../img/productos/señuelos/1/0002.png");
  }

  .C0001 {
    color:#e0d20a;
    border: 1px solid #757575;
}

  .C0002 {
    color:#ff8d0b;
    border: 1px solid #757575;
}

.C0004 {
  color:#12b7f8;
  border: 1px solid #757575;
}




.C0031 {
  background: rgb(255,226,6);
  border: 1px solid #757575;
  background: linear-gradient(180deg,  rgba(248,75,228,1) 0%, rgba(255,226,6,1) 80%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.C4613 {
  background: rgb(23,204,214);
  border: 1px solid #757575;
  background: linear-gradient(180deg, rgba(23,204,214,1) 16%, rgba(32,226,112,1) 35%, rgba(255,226,6,1) 52%, rgba(248,75,228,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/*---------------------------------------
      INFORMACIÓN           
  -----------------------------------------*/


  
/*---------------------------------------
      CONTACTO             
  -----------------------------------------*/

  #contact-form .col-md-12,
  #contact-form .col-md-4 {
    padding-left: 0;
  }

  #contact-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #7cbfbf;
    border-radius: 0;
    box-shadow: none;
    margin: 10px 0;
  }

  #contact-form .form-control:focus {
    border-bottom-color: #202020;
  }

  #contact-form input {
    height: 50px;
  }

  #contact-form input[type='submit'] {
    background: #fff;
    border: 1px solid #7cbfbf;
  }

  #contact-form input[type='submit']:hover {
    background: #7cbfbf;
    color: #ffffff;
  }

  /*---------------------------------------
      PIE DE PÁGINA            
  -----------------------------------------*/
.footer {
  background: #131921;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #232F3E;
}

.footer p {
color:#fff;
}

.footer .container li {
  cursor: pointer;
  display: inline-block;
  padding: 0px 15px 0px 15px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.footer .container li a {
    color: #fff;
}
  