html{
 scroll-behavior: smooth;
 overflow-x: hidden;
 user-select:none;
}

/*---------------------------------------
      Variables color CSS3 
   (Para usar escribir)  
.ejemplo: var(--dark-blue);        
-----------------------------------------*/
:root {
--black-blue: #131921;
--dark-blue: #232F3E;
--blue: #005cc5;
--mint-green: #9be8b9;
--light-mint-green: #dcffe9;
--dark-mint-green: #009688;
--dark-red: #c95d5d;
--dark-grey:#b5b5b5;
--grey: #e5e5e5;
--light-grey: #e5e5e50C;      
--paperboard: #b99c76;
-light-shadow: 0px 2px 15px #1319211e;
      
}

p , .h2-p {
 color: var(--dark-blue);
 font-size: 16px;
 line-height: 150%;
 margin-top: 0;
 margin-bottom: 1rem;
 display: inline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'arial', sans-serif;
  color: var(--black-blue);
}

 h1 {
	 line-height: 120%;
	 margin-bottom: 30px;
}

.bold {
 font-weight: bolder;
}

.pointer {
  cursor: pointer;
}

 .text-header {
	 font-size: 50px;
	 text-align: center;
}

/*---------------------------------------
     Efectos y animaciones            
-----------------------------------------*/

.borderpride {
  animation: BorderPride 4s ease infinite;
}

@keyframes BorderPride {
  0% {border-color: #FFD800}
  25% {border-color: #FF3C35;}
  50% {border-color: #A33EFF;}
  75% {border-color: #42B0FF;}
  85% {border-color: #60FFAA;}
  100% {border-color: #FFD800;}
}
.pride {
  animation: ColorPride 4s ease infinite;
}

@keyframes ColorPride {
  0% {color: #FFD800}
  25% {color: #FF3C35;}
  50% {color: #A33EFF;}
  75% {color: #42B0FF;}
  85% {color: #60FFAA;}
  100% {color: #FFD800;}
}

.bgpride {
  animation: BgPride 4s ease infinite;
}

@keyframes BgPride {
  0% {background: #FFD800}
  25% {background: #FF3C35;}
  50% {background: #A33EFF;}
  75% {background: #42B0FF;}
  85% {background: #60FFAA;}
  100% {background: #FFD800;}
}

.a-link{
    animation: a-links 4s ease infinite;
}

@keyframes a-links {
0% {
    color: #498ce4;
}
25% {
    color: #4b76ae;
}
50% {
    color: #5788ca;
}
75% {
    color: #679bdf;
}
85% {
    color: #61a6c9;
}
100% {
    color: #4d9cd9;
}
}

/*---------------------------------------
     Colores especiales            
-----------------------------------------*/

.insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
  .C0001 {
    color:#e0d20a;
  }

  .C0002 {
    color:#ff8d0b;
  }

 .C0003 {
    color:#FF0A74;
  }

 .C0004 {
    color:#10a4df;
  }

  .C0005 {
    color:#ff2d26;
  }

  .C0006 {
    color:#11d442;
  }

  .C0007 {
    color:#ffffff;
  }

  .C0008 {
    color:#000000;
  }

  .C0009 {
    color:#761ddb;
  }

  .Ct7-0034 {
    background: radial-gradient(circle at 30% 107%, #FF0A74 0%, #FF0A74 30%, #ffffff 45%,#10a4df 60%,#10a4df 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Ct1-0043 {
    background: radial-gradient(circle at 30% 107%, #ff2d26 0%, #ff8d0b 30%, #e0d20a 45%,#10a4df 60%,#10a4df 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Ct7-0032 {
    background: radial-gradient(circle at 30% 107%, #FF0A74 0%, #FF0A74 30%, #ffffff 45%,#ff8d0b 60%,#ff8d0b 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

 .i-cd{
  box-shadow: inset 0 0 5px 5px  rgba(32, 32, 32, 0.158);
  border: 1px solid #B7C0C0;
 }

 .i-cd:hover{
   box-shadow: inset 0 0 5px 5px  rgb(32, 32, 32);
 }

  .i-c{
    background: #0000001c;
    border: 1px solid #B7C0C0;
  }
  .i-c:hover {
  border: 1px solid rgb(0, 0, 0);
  background: rgb(32, 32, 32);
  }
  .i-cn{
    background: #0000001c;
    border: 1px solid #B7C0C0;
  }
  .i-cn:hover {
    border: 1px solid rgb(0, 0, 0);
    background: #fff;
    }


.C0031 {
  background: rgb(255,226,6);
  border: 1px solid #757575;
  background: linear-gradient(180deg,  rgba(248,75,228,1) 0%, rgba(255,226,6,1) 80%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.C4613 {
  background: rgb(23,204,214);
  border: 1px solid #757575;
  background: linear-gradient(180deg, rgba(23,204,214,1) 16%, rgba(32,226,112,1) 35%, rgba(255,226,6,1) 52%, rgba(248,75,228,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


/*---------------------------------------
     Fuentes           
-----------------------------------------*/

@font-face {
  font-family: 'cagatintas';
  src: local('cagatintas'),
       local('cagatintas Regular'),
       local('cagatintas-Regular'),
       url(../fuentes/cagatintas.woff) format("woff");
}

@font-face {
  font-family: 'contorno';
  src: local('contorno'),
       local('contorno Regular'),
       local('contorno-Regular'),
       url(../fuentes/contorno.woff) format("woff");
}
