/*---------------------------------------
     Efectos y animaciones            
-----------------------------------------*/

.borderpride {
  animation: BorderPride 4s ease infinite;
}

@keyframes BorderPride {
  0% {border-color: #FFD800}
  25% {border-color: #FF3C35;}
  50% {border-color: #A33EFF;}
  75% {border-color: #42B0FF;}
  85% {border-color: #60FFAA;}
  100% {border-color: #FFD800;}
}
.pride {
  animation: ColorPride 4s ease infinite;
}

@keyframes ColorPride {
  0% {color: #FFD800}
  25% {color: #FF3C35;}
  50% {color: #A33EFF;}
  75% {color: #42B0FF;}
  85% {color: #60FFAA;}
  100% {color: #FFD800;}
}

.bgpride {
  animation: BgPride 4s ease infinite;
}

@keyframes BgPride {
  0% {background: #FFD800}
  25% {background: #FF3C35;}
  50% {background: #A33EFF;}
  75% {background: #42B0FF;}
  85% {background: #60FFAA;}
  100% {background: #FFD800;}
}

.a-link{
    animation: a-links 4s ease infinite;
}

@keyframes a-links {
0% {
    color: #498ce4;
}
25% {
    color: #4b76ae;
}
50% {
    color: #5788ca;
}
75% {
    color: #679bdf;
}
85% {
    color: #61a6c9;
}
100% {
    color: #4d9cd9;
}
}

/*---------------------------------------
     Colores especiales            
-----------------------------------------*/

.insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*---------------------------------------
     Fuentes           
-----------------------------------------*/

@font-face {
  font-family: 'cagatintas';
  src: local('cagatintas'),
       local('cagatintas Regular'),
       local('cagatintas-Regular'),
       url(../fuentes/cagatintas.woff) format("woff");
}

@font-face {
  font-family: 'contorno';
  src: local('contorno'),
       local('contorno Regular'),
       local('contorno-Regular'),
       url(../fuentes/contorno.woff) format("woff");
}
