.a-link{
    animation: a-links 4s ease infinite;
}

@keyframes a-links {
0% {
    color: #498ce4;
}
25% {
    color: #4b76ae;
}
50% {
    color: #5788ca;
}
75% {
    color: #679bdf;
}
85% {
    color: #61a6c9;
}
100% {
    color: #4d9cd9;
}
  }
