




.guia-link {
margin: 0;
padding: 0;
text-align: center;
background: no-repeat center center;
background-size: cover;
margin-top: 1rem;
margin-bottom: 1rem;
min-height: 130px;
cursor:pointer;
display:table;

}

.guia-link::before {
content: "";
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background: rgba(14, 16, 17, 0.4);
}

.guia-link:hover {
transform: scale(1.01);
border: 1px solid #beccdb;
box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
}
	
.guias-titles {
width: 100%;
color: #fff;
text-transform: uppercase;
font-family: contorno;
position: relative;
display: table-cell;
vertical-align: middle;
}
