/*---------------------------------------
      Header          
  -----------------------------------------*/

.header-box{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #232F3E;
  background-color:#131921;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: auto!important;
    margin-right: auto!important;
    transform: translate(-153px,0);
}

@media (max-width: 1350px){
.navbar-nav {
    transform: translate(0,0);
}
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color:#ffffff;
  margin-left: 1rem;
}
.navbar-custom .navbar-brand:hover {
  color:#ffffff;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1rem;
  color:#ffffff;
}

@media (max-width: 343px) {
  .navbar-brand{
    font-size: 0.8rem;
    margin: 0;
  }
}

/*---------------------------------------
      Menú izquierda          
  -----------------------------------------*/

  #hamburguesa {
    z-index: 10010;
    position: fixed;
    height: 2rem;
    width: 2rem;
    padding: 2px;
    left:1rem;
    top:1rem;
  }

  #cerrar-menu-izquierda {
    z-index: 10011;
    position: fixed;
    height: 2rem;
    width: 2rem;
    padding: 2px;
    left:-1000px;
    top:70px;
    transition: 0.4s;
  }

  #menu-izquierda{
    z-index: 10010;
    position: fixed;
    left: -200%;
    top:67px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.4s;
    margin:0px;
  }

  #menu-izquierda-content{
    height: 100%;
    border-right: 1px solid #354d69;
    background-color: #2a3135;
    overflow: hidden;
    margin:0px;
    padding:0px;
    max-width:368px;
  }
 .nav-link {
    color: #fff;
 }

.menu-content {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 3px;
    padding-left: 2px;
}

.menu-content::-webkit-scrollbar {
    display: none;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.menu-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.menu-content::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.menu-content::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.menu-content::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.menu-content::-webkit-scrollbar-track:hover,
.menu-content::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}









@media (max-width: 425px) {
  #menu-izquierda-content {
   max-width:425px;
  }
}
  
.no-m-p{
 margin-left:0px;
 margin-right:0px;
 padding-left:0px;
 padding-right:0px;
}
  
  #menu-izquierda .m-i-b {
    border: 1px solid #232F3E;
    background: #131921;
    text-align: center;
  }

  #menu-izquierda td a{
    color: #fff;
  }

   #menu-izquierda-oscurecer {
    z-index: 10009;
    position: fixed;
    left: -100%;
    top:66px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
  }

.guia-link {
margin: 0;
padding: 0;
padding-left: 5px;
padding-right: 5px;
text-align: center;
background: no-repeat center center;
background-size: cover;
margin-top: 1rem;
margin-bottom: 1rem;
min-height: 130px;
cursor:pointer;
display:table;
}

.guia-link::before {
content: "";
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background: rgba(14, 16, 17, 0.4);
}

.guia-link:hover {
transform: scale(1.01);
border: 1px solid #beccdb;
box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
}

.menu-content .guia-link {
margin-top: 1px;
margin-bottom: 0px;
}	
	
.guias-titles {
width: 100%;
color: #fff;
text-transform: uppercase;
font-family: contorno;
position: relative;
display: table-cell;
vertical-align: middle;
}

  /*---------------------------------------
      PIE DE PÁGINA            
  -----------------------------------------*/
.footer {
  background: #131921;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #232F3E;
}

.footer p {
color:#fff;
}

.footer .container li {
  cursor: pointer;
  display: inline-block;
  padding: 0px 15px 0px 15px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.footer .container li a {
    color: #fff;
}


