
 html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select:none;
}

section {
  padding-top:2rem ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'arial', sans-serif;
  color:#131921;
}

table {
  margin:auto;
  margin-bottom: 10px;
  }

.pointer {
  cursor: pointer;
}

th{
  font-weight: 100;
}

td{
    color: #232F3E;
  }

.bg-black {
  background-color: #000 !important;
}

.header-box{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #232F3E;
  background-color:#131921;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: auto!important;
    margin-right: auto!important;
    transform: translate(-153px,0);
}

@media (max-width: 1350px){
.navbar-nav {
    transform: translate(0,0);
}
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color:#ffffff;
  margin-left: 1rem;
}
.navbar-custom .navbar-brand:hover {
  color:#ffffff;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1rem;
  color:#ffffff;
}

body {
	 padding: 0;
	 margin: 0;
	 background-color: #fff;
   font-family: Arial,Helvetica,sans-serif;
	 color: #fff;
}
 .text-header {
	 font-size: 50px;
	 text-align: center;
}
 h1 {
	 line-height: 120%;
	 margin-bottom: 30px;
}
 p {
	 color: #232F3E;
	 font-size: 16px;
	 line-height: 150%;
}

/*---------------------------------------
      Menú izquierda          
  -----------------------------------------*/

  #hamburguesa {
    z-index: 10010;
    position: fixed;
    height: 2rem;
    width: 2rem;
    padding: 2px;
    left:1rem;
    top:1rem;
  }

  #cerrar-menu-izquierda {
    z-index: 10011;
    position: fixed;
    height: 2rem;
    width: 2rem;
    padding: 2px;
    left:-1000px;
    top:70px;
    transition: 0.4s;
  }

  #menu-izquierda{
    z-index: 10010;
    position: fixed;
    left: -200%;
    top:67px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.4s;
    margin:0px;
  }

  #menu-izquierda-content{
    height: 100%;
    border-right: 1px solid #354d69;
    background-color: white;
    overflow: hidden;
    margin:0px;
    padding:0px;
    max-width:368px;
  }
 .nav-link {
    color: #fff;
 }


@media (max-width: 425px) {
  #menu-izquierda-content {
   max-width:425px;
  }
}
  
.no-m-p{
 margin-left:0px;
 margin-right:0px;
 padding-left:0px;
 padding-right:0px;
}
  
  #menu-izquierda .m-i-b {
    border: 1px solid #232F3E;
    background: #131921;
    text-align: center;
  }

  #menu-izquierda td a{
    color: #fff;
  }

   #menu-izquierda-oscurecer {
    z-index: 10009;
    position: fixed;
    left: -100%;
    top:66px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
  }

/*---------------------------------------
      PRODUCTOS          
  -----------------------------------------*/
 
  .C0001 {
    color:#e0d20a;
  }

  .C0002 {
    color:#ff8d0b;
  }

 .C0003 {
    color:#FF0A74;
  }

 .C0004 {
    color:#10a4df;
  }

  .C0005 {
    color:#ff2d26;
  }

  .C0006 {
    color:#11d442;
  }

  .C0007 {
    color:#ffffff;
  }

  .C0008 {
    color:#000000;
  }

  .C0009 {
    color:#761ddb;
  }

  .Ct7-0034 {
    background: radial-gradient(circle at 30% 107%, #FF0A74 0%, #FF0A74 30%, #ffffff 45%,#10a4df 60%,#10a4df 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Ct1-0043 {
    background: radial-gradient(circle at 30% 107%, #ff2d26 0%, #ff8d0b 30%, #e0d20a 45%,#10a4df 60%,#10a4df 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Ct7-0032 {
    background: radial-gradient(circle at 30% 107%, #FF0A74 0%, #FF0A74 30%, #ffffff 45%,#ff8d0b 60%,#ff8d0b 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

 .i-cd{
  box-shadow: inset 0 0 5px 5px  rgba(32, 32, 32, 0.158);
  border: 1px solid #B7C0C0;
 }

 .i-cd:hover{
   box-shadow: inset 0 0 5px 5px  rgb(32, 32, 32);
 }

  .i-c{
    background: #0000001c;
    border: 1px solid #B7C0C0;
  }
  .i-c:hover {
  border: 1px solid rgb(0, 0, 0);
  background: rgb(32, 32, 32);
  }
  .i-cn{
    background: #0000001c;
    border: 1px solid #B7C0C0;
  }
  .i-cn:hover {
    border: 1px solid rgb(0, 0, 0);
    background: #fff;
    }


.C0031 {
  background: rgb(255,226,6);
  border: 1px solid #757575;
  background: linear-gradient(180deg,  rgba(248,75,228,1) 0%, rgba(255,226,6,1) 80%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.C4613 {
  background: rgb(23,204,214);
  border: 1px solid #757575;
  background: linear-gradient(180deg, rgba(23,204,214,1) 16%, rgba(32,226,112,1) 35%, rgba(255,226,6,1) 52%, rgba(248,75,228,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

  /*---------------------------------------
      CONTENT         
  -----------------------------------------*/

  #content{
    margin-top:0px;
  }

#rowsticky {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    margin-bottom:3px;
}

.img-magnifier-container {
  position: relative;
  padding:0px;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
.capa {
  position: relative; 
  display:none;
  top: -100%;
  height: 0px;
}

 #rowsticky .tns-item {
    height:50px; 
    max-width:50px;
    border: 1px solid;
    border-color: #a2a6ac #979aa1 #82858a;
    border-radius: 2px;
    margin-left:5px; 
    margin-right:5px;
    cursor:pointer;
  }

 #rowsticky .tns-item:hover{
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
    border-color: #232F3E #232F3E #232F3E;
  }

 #rowsticky .controls {
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
 #rowsticky .controls li {
    text-align: -webkit-match-parent;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 50%;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    padding: 0 15px;
    cursor: pointer;
    transition: background 0.3s;
}
 #rowsticky .controls .prev {
    left: 0;
}
 #rowsticky .controls .next {
    right: 0;
}
 #rowsticky .miniatura-prod{
    padding:0px;
    margin:0px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#infoproducto .tns-nav {
    text-align: center;
    margin: 10px 0;
}

#infoproducto .tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

#infoproducto .tns-nav > .tns-nav-active {
    background: #999;
}

#infoproducto .tac{
   text-align: center;  
 }
#infoproducto .ofh, .ofhc {
   overflow: hidden;	  
}

#infoproducto #info .slide-item {
transition: 1s;
border: 1px solid transparent;
}

#infoproducto .slide-item:hover {
border: 1px solid #beccdb;
}

#infoproducto .slide-item img{
transition: 1.5s;
}

#infoproducto .slide-item:hover .ofh img{
transform: scale(1.1);
}

#infoproducto .slide-item:hover .ofhc img{
transform: scale(1.3);
}

#infoproducto .slide-item p {
    padding-top: 5px;
    padding-bottom: 6px;
    margin: 0;
    font-size: 1.1rem;
}



  /*---------------------------------------
      Descripción del producto           
  -----------------------------------------*/

#contact-colors i {
    font: normal normal normal 26px/1 FontAwesome;
}

.product-title {
  text-align: justify;
  }
@media screen and (max-width: 424px) {
.product-title {
  text-align: center;
  }		
}

#p-colores, #p-vientre, #p-patron, #color-v, #patron-pez, .color-hidden {
  display:none;
  }

.tg  {border-collapse:collapse;border-color:#aeb2b8;border-spacing:0;}
.tg td{background-color:#f3f7ff;border-color:#bbb;border-style:solid;border-width:1px;color:#272b2f;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-c3ow{border-color:inherit;text-align:center;}
.tg .tg-56tm{background-color:#fff;border-color:inherit;text-align:left;}

@media screen and (max-width: 767px) {
  .tg {
  width: auto !important;
  }
  .tg col {
  width: auto !important;
  }
  .p-table  {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }
}

.p-title {
    text-align: center;
    padding-top: 7px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 13%);
    border: 1px solid rgb(0 0 0 / 5%);
}

#productID {
  border: 1px solid rgba(0,0,0,.1);
  cursor:pointer;
  display: inline;
  padding:3px;
  padding-left: 8px;
  padding-right: 8px;
  user-select: text;
}
#productID:hover {
  border:1px solid rgb(75, 186, 170);
  background: #9bffc159;
}

.contact-info {
    padding: 1rem;
    border: 1px solid #beccdb;
    background: #13192106;
}
  /*---------------------------------------
      PIE DE PÁGINA            
  -----------------------------------------*/
.footer {
  background: #131921;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #232F3E;
}

.footer p {
color:#fff;
}

.footer .container li {
  cursor: pointer;
  display: inline-block;
  padding: 0px 15px 0px 15px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.footer .container li a {
    color: #fff;
}

@font-face {
  font-family: 'cagatintas';
  src: local('cagatintas'),
       local('cagatintas Regular'),
       local('cagatintas-Regular'),
       url(../fuentes/cagatintas.woff) format("woff");
}

@font-face {
  font-family: 'contorno';
  src: local('contorno'),
       local('contorno Regular'),
       local('contorno-Regular'),
       url(../../../../fuentes/contorno.woff) format("woff");
}

@media (max-width: 1240px) {
  .container{
    min-width: 100%;
    margin:0px:
  }
}

@media (max-width: 767px) {
  .container{
    min-width: 100%;
    margin:0px:
  }
  .nomovil{
    display:none;
  }
  .movil{
    display:block;
  }		
}

@media (max-width: 343px) {
  .navbar-brand{
    font-size: 0.8rem;
    margin: 0;
  }
}

  @keyframes ColorPride {
    0% {color: #FFD800}
    25% {color: #FF3C35;}
    50% {color: #A33EFF;}
    75% {color: #42B0FF;}
    85% {color: #60FFAA;}
    100% {color: #FFD800;}
  }

.pride {
    animation: ColorPride 4s ease infinite;
}

